@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Josefin+Sans&display=swap");


.alert {
    background: #ffdb9b;
    padding: 20px 40px;
    max-width: 1000px;
    position: absolute;
    right: 0px;
    top: 20px;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
    overflow: hidden;
    /*display: none;*/
}

.alert.show {
    display: revert;
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }

}

.alert.hide {
    display: revert;
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(100%);
    }

}

.alert .fa-exclamation-circle {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
}

.alert .msg {
    letter-spacing: 1px;
    padding: 0 20px;
    font-size: 13px;
    color: #ce8500;
    display: block;
    text-align: center;
}

.alert .close-btn {

    position: absolute;
    background: #ffd080;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 18px;
    cursor: pointer;
}


.alert .close-btn-bgc-error-style {
    background: #ffd080;
}

.alert .close-btn-bgc-error-style:hover {
    background: #ffc766;
}

.alert .close-btn-bgc-success-style {
    background: #63912f;
}

.alert .close-btn-bgc-success-style:hover {
    background: #72a934;
}

.alert .close-btn-bgc-warning-style {
    background: #bf444f;
}

.alert .close-btn-bgc-warning-style:hover {
    background: #c9313f;
}

.alert .close-btn-bgc-info-style {
    background: #9bcafb;
}

.alert .close-btn-bgc-info-style:hover {
    background: #76abe3;
}


.alert .close-btn .fa-times {
    color: #ce8500;
    font-size: 22px;
    line-height: 100px
}


@media (max-width: 600px) {
    .alert {
        max-width: 370px;
        padding: 15px 40px;
    }

    .alert .msg {
        font-size: 12px;
    }

    .alert .fa-exclamation-circle {
        font-size: 25px;
    }
}

@media (max-width: 375px) {
    .alert {
        max-width: 335px;
    }
}

@media (max-width: 320px) {
    .alert {
        max-width: 280px;
        padding: 10px 40px;
    }

    #sign_up {
        position: absolute;
        top: 20%;
    }
}