@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #ffffff;
    overflow-x: hidden;

}

.wrapper {
    height: 100vh;
    width: 100vw;
    color: #ffff;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 84px;
    background: rgba(108, 99, 255, 0.04);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.active {
    width: 260px;
}

.sidebar .logo_content{
    padding: 32px 24px 0 16px;
    margin-bottom: 72px;

}

.sidebar .logo_content .logo{
    display: flex;
    align-items: center;
}

.sidebar .logo_content .logo img#sidebar_btn{
    position: absolute;
    right: -50px;
    cursor: pointer;
    z-index:0;
}

.sidebar .logo_content .logo_img{
    width: 60px;
    height: 38px;
}

.sidebar .logo_content .logo_name{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #505F79;
    text-transform: uppercase;
    position: relative;
    left: 8px;
    opacity: 0;
    transition: all 0.3s ease;
}

.sidebar.active .logo_content .logo_name{
    opacity: 1;
}



.sidebar .nav_list li{
    width: 100%;
    height: 64px;
    padding-left: 24px;

}

.sidebar .nav_list li.active{
    background: rgba(108, 99, 255, 0.07);
    border-right: 4px solid #6C63FF;
}

.sidebar .nav_list li a{
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;

}
.sidebar .nav_list li a img{
    padding-right: 8px;
}

.sidebar .nav_list li .links_name{
    font-weight: 300;
    font-size: 16px;
    color: #505F79;
    opacity: 0;
    transition: all 0.3s ease;
}

.sidebar.active .nav_list li .links_name{
    opacity: 1;
}
.sidebar .nav_list li#logout{
    position: absolute;
    bottom: 20px;
}
.sidebar .nav_list li#settings{
    position: absolute;
    bottom: 84px;
}

.main {
    position: absolute;
    height: calc(100%- 58px);
    width: calc(100% - 84px);
    top: 58px;
    left: 84px;
    transition: all 0.5s ease;
    background-color: #ffffff;
    color: #505F79;
    z-index: 1;
}

.sidebar.active ~ .main{
    width: calc(100% - 260px);
    left: 260px;
}



.nav-bar{
    position: relative;
    left: 350px;
    width: calc(100% - 350px);
    top: 0;
    padding: 16px 40px 16px 64px;
    color: #505F79;
    z-index:2;
    height: auto;
}

.nav-bar ul {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-bar ul li {
    padding: 0 4px;
}

.nav-bar .notifications_wrapper{
    position: relative;
    cursor: pointer;

}

.nav-bar .notifications_wrapper .notifications_counter{
    height: 20px;
    width: 20px;
    display: none;
    background-color: #FF0000;
    position: absolute;
    top: -5px;
    border-radius: 50%;
    right: 5px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}

.nav-bar .notifications_wrapper .notifications_counter.active{
    display: block;
}
.nav-bar .notifications_wrapper .dropdown-content{
    position: fixed;
    top: 60px;
    transform: translateX(-45%);
    width: 413px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    overflow: hidden;
    display: none;
}
.nav-bar .notifications_wrapper .dropdown-content.active{
    display: block;
}
.nav-bar .notifications_wrapper .dropdown-content .notification-header{
    text-align: center;
    background-color: #2E9FFF;
    height: 62px;
}
.nav-bar .notifications_wrapper .dropdown-content .notification-header p{
    text-align: center;
    background-color: #2E9FFF;
    height: 62px;
}
.nav-bar .notifications_wrapper .dropdown-content .notification-content .notification{
    height: 62px;
    background-color: #ffffff;
    border-bottom: thin solid #E6E6E6;
    position: relative;
}
.nav-bar .notifications_wrapper .dropdown-content .notification-content .notification .text{
    text-align: left;
    padding: 16px 16px;
    color: #333;
    font-size: 16px;
    font-weight: 400;
}
.nav-bar .notifications_wrapper .dropdown-content .notification-content .notification .text.checked{
    color: #909090;
}

.nav-bar .notifications_wrapper .dropdown-content .notification-content .notification img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
}
.nav-bar .notifications_wrapper .dropdown-content .notification-content .notification .date{
    position: absolute;
    left: 16px;
    font-size: 14px;
    font-weight: 400;
    color: #909090;
    bottom: 0;
}
.nav-bar .notifications_wrapper .dropdown-content .notification-header p{
    line-height: 62px;
    color: #ffffff;
    font-size: 20px;
}

.material_section_wrapper{
    padding: 16px 40px 16px 40px;
}

.material_header_wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.material_header_wrapper .header{
    font-size: 32px;
}
.material_header_wrapper .header img{
    cursor: pointer;
    position: relative;
    top: 2px;
    left: -3px;
}

.material_header_wrapper .btn_wrapper ul li{
    display: inline-block;
    list-style: none;
    height: 52px;
    width: 160px;
    text-align: center;
    background: rgba(108, 99, 255, 0.8);
    border-radius: 32px;
    color: #ffffff;
    line-height: 52px;
    font-size: 16px;
    cursor: pointer;
    margin: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.material_header_wrapper .btn_wrapper ul li:hover{
    background-color: #6C63FF;
}

.material_header_wrapper .btn_wrapper ul li img{
    position: relative;
    top: 5px;
    left: -4px;
}

.material_category_wrapper{
    padding: 48px 0;
}
.material_category_wrapper .header{
    font-weight: 700;
    font-size: 22px;
    color: rgba(63, 61, 86, 0.7);
    opacity: 0.7;
}

.material_category_wrapper .btn_wrapper{
    margin: 0 auto;
    width: 90%;
    padding: 48px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.material_category_wrapper .btn_wrapper .category_item{
    width: 210px;
    height: 180px;
    border-radius: 32px;
    box-shadow: 0 4px 4px #6C63FF;
    background: linear-gradient(122.62deg, #02D2FF 0%, #6C63FF 100%);
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.material_category_wrapper .btn_wrapper .category_item h1{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    padding: 0 8px;
}

.material_category_wrapper .btn_wrapper .category_item img.del{
    width: 30px;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor:pointer;
    opacity: 0.6;
}
.material_category_wrapper .btn_wrapper .category_item img.edit{
    width: 30px;
    position: absolute;
    bottom: 16px;
    right: 16px;
    cursor:pointer;
    opacity: 0.6;
}

.material_table_wrapper h1{
    font-weight: 700;
    font-size: 22px;
    color: rgba(63, 61, 86, 0.7);
    opacity: 0.7;
}

.material_table_wrapper .table_wrapper{
    padding: 48px 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.material_table_wrapper .table_wrapper table{
    border-collapse: collapse;
    border-radius: 32px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    min-width: 90%;
}
.material_table_wrapper .table_wrapper table thead{

    background: linear-gradient(90.14deg, #6C63FF -0.5%, #2E9FFF 100.78%);
    font-weight: lighter;
    color: #ffffff;
    font-size: 22px;
    border-top-left-radius: 32px;
}
.material_table_wrapper .table_wrapper table thead th{
    padding: 16px 8px;
}
.material_table_wrapper .table_wrapper table thead th img{
    width: 32px;
    position: relative;
    left: 0;
    top: 7px;
    cursor: pointer;
}

.material_table_wrapper .table_wrapper table tbody tr{
    height: 62px;
    background: #F9F9FF;
    border-bottom: 1px solid #6C63FF;

}

.material_table_wrapper .table_wrapper table tbody tr:last-child{
    height: 62px;
    background: #F9F9FF;
    border-bottom: none;
}

.material_table_wrapper .table_wrapper table tbody tr td{
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    opacity: 1;
    padding: 0 64px;
    position: relative;
}
.material_table_wrapper .table_wrapper table tbody tr td img{
    cursor:pointer;
}
.material_table_wrapper .table_wrapper table tbody tr td img.face{
    cursor:pointer;
    position: absolute;
    top: 14px;
    padding: 0 8px;
}

/*ADD MATERIAL CATEGORY POPUP START*/

.material_category_creation_form_popup{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(249, 250, 252, 0.8);
    display: none;
    z-index: 2;
}
.material_category_creation_form_popup.active{
    display: block;
}

.material_category_creation_form_popup .form_wrapper{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 496px;
    height: 800px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
}
.material_category_creation_form_popup .form_wrapper img{
    display: block;
    margin: 32px auto 0 auto;
}
.material_category_creation_form_popup .form_wrapper h1{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #505F79;
    padding: 32px 0;
}
.material_category_creation_form_popup .form_wrapper input{
    width: 80%;
    height: 48px;
    background-color: #fff;
    border: 1px solid #DFE1E6;
    border-radius: 8px;
    padding: 0 16px;
    margin: 0 auto;
    display: block;
}

.material_category_creation_form_popup .form_wrapper input:focus{
    outline-color: #6C63FF;
}
.material_category_creation_form_popup .form_wrapper input::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #505F79;
}

.material_category_creation_form_popup .form_wrapper .btn_wrapper{
    width: 80%;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%);
}
.material_category_creation_form_popup .form_wrapper .btn_wrapper button{
    display: block;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    border: none;
    width: 100%;
    height: 48px;
    margin: 8px 0;
}
.material_category_creation_form_popup .form_wrapper .btn_wrapper button:first-child{
    background: #1DB954;
}
.material_category_creation_form_popup .form_wrapper .btn_wrapper button:last-child{
    background: #00A1C3;
}
/*ADD MATERIAL CATEGORY POPUP END*/

/*EDIT MATERIAL CATEGORY POPUP START*/
.material_category_edit_form_popup{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(249, 250, 252, 0.8);
    display: none;
    z-index: 99999;
}
.material_category_edit_form_popup.active{
    display: block;
}

.material_category_edit_form_popup .form_wrapper{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 496px;
    height: 800px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
}
.material_category_edit_form_popup .form_wrapper img{
    display: block;
    margin: 32px auto 0 auto;
}
.material_category_edit_form_popup .form_wrapper h1{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #505F79;
    padding: 32px 0;
}
.material_category_edit_form_popup .form_wrapper input{
    width: 80%;
    height: 48px;
    background-color: #fff;
    border: 1px solid #DFE1E6;
    border-radius: 8px;
    padding: 0 16px;
    margin: 0 auto;
    display: block;
}
.material_category_edit_form_popup .form_wrapper input:focus{
    outline-color: #6C63FF;
}
.material_category_edit_form_popup .form_wrapper input::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #505F79;
}
.material_category_edit_form_popup .form_wrapper .btn_wrapper{
    width: 80%;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%);
}
.material_category_edit_form_popup .form_wrapper .btn_wrapper button{
    display: block;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    border: none;
    width: 100%;
    height: 48px;
    margin: 8px 0;
}
.material_category_edit_form_popup .form_wrapper .btn_wrapper button:first-child{
    background: #FBB034;
}
.material_category_edit_form_popup .form_wrapper .btn_wrapper button:last-child{
    background: #00A1C3;
}
/*EDIT MATERIAL CATEGORY POPUP END*/

/*NEW MATERIAL POPUP START*/
.new_material_creation_form_popup{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(249, 250, 252, 0.8);
    display: none;
    z-index: 2;
}
.new_material_creation_form_popup.active{
    display: block;
}

.new_material_creation_form_popup .form_wrapper{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 496px;
    height: 800px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
}
.new_material_creation_form_popup .form_wrapper img{
    display: block;
    margin: 32px auto 0 auto;
}
.new_material_creation_form_popup .form_wrapper h1{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #505F79;
    padding: 16px 0;
}
.new_material_creation_form_popup .form_wrapper label{
    color: #BAB6B6;
    width:80%;
    display: block;
    margin: 0 auto;
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
}
.new_material_creation_form_popup .form_wrapper .quantity{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 0 auto;
    gap: 16px;
}

.new_material_creation_form_popup .form_wrapper .quantity div input{
    margin: 0 auto;
    width: 100%;
}
.new_material_creation_form_popup .form_wrapper select{
    width: 80%;
    height: 48px;
    background-color: #fff;
    border: 1px solid #DFE1E6;
    border-radius: 8px;
    padding: 0 16px;
    margin: 8px auto;
    display: block;
    cursor: pointer;
}

.new_material_creation_form_popup .form_wrapper select::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #505F79;
}
.new_material_creation_form_popup .form_wrapper select:focus{
    outline-color: #6C63FF;
}

.new_material_creation_form_popup .form_wrapper .density_price{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 0 auto;
    gap: 16px;
}
.new_material_creation_form_popup .form_wrapper .density_price div input{
    margin: 0 auto;
    width: 100%;
}

.new_material_creation_form_popup .form_wrapper input{
    width: 80%;
    height: 48px;
    background-color: #fff;
    border: 1px solid #DFE1E6;
    border-radius: 8px;
    padding: 0 16px;
    margin: 8px auto;
    display: block;
    cursor: pointer;
}


.new_material_creation_form_popup .form_wrapper input:focus{
    outline-color: #6C63FF;
}
.new_material_creation_form_popup .form_wrapper input::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #505F79;
}
.new_material_creation_form_popup .form_wrapper span{
    text-align: center;
    display: block;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #BAB6B6;
}
.new_material_creation_form_popup .form_wrapper .img_wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
}

.new_material_creation_form_popup .form_wrapper .img_wrapper img{

    margin: 8px auto;
    cursor: pointer;
}

.new_material_creation_form_popup .form_wrapper .dimensions_input_wrapper div{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 8px auto;
}


.new_material_creation_form_popup .form_wrapper .dimensions_input_wrapper div.plate.hide{
    display: none;
}
.new_material_creation_form_popup .form_wrapper .dimensions_input_wrapper div.tube.hide{
    display: none;
}
.new_material_creation_form_popup .form_wrapper .dimensions_input_wrapper div.rod.hide{
    display: none;
}
.new_material_creation_form_popup .form_wrapper .dimensions_input_wrapper div.plate.show{
    display: flex;
}
.new_material_creation_form_popup .form_wrapper .dimensions_input_wrapper div.tube.show{
    display: flex;
}
.new_material_creation_form_popup .form_wrapper .dimensions_input_wrapper div.rod.show{
    display: flex;
}
.new_material_creation_form_popup .form_wrapper .dimensions_input_wrapper input{
    width: 95%;
    margin: 0;
}
.new_material_creation_form_popup .form_wrapper .btn_wrapper{
    width: 80%;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%);
}
.new_material_creation_form_popup .form_wrapper .btn_wrapper button{
    display: block;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    border: none;
    width: 100%;
    height: 48px;
    margin: 8px 0;
}
.new_material_creation_form_popup .form_wrapper .btn_wrapper button:first-child{
    background: #1DB954;
}
.new_material_creation_form_popup .form_wrapper .btn_wrapper button:last-child{
    background: #00A1C3;
}
/*NEW MATERIAL POPUP END*/


/*EDIT MATERIAL POPUP START*/
.edit_material_creation_form_popup{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(249, 250, 252, 0.8);
    display: none;
    z-index: 2;
}
.edit_material_creation_form_popup.active{
    display: block;
}

.edit_material_creation_form_popup .form_wrapper{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 496px;
    height: 800px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
}
.edit_material_creation_form_popup .form_wrapper img{
    display: block;
    margin: 32px auto 0 auto;
}
.edit_material_creation_form_popup .form_wrapper h1{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #505F79;
    padding: 16px 0;
}
.edit_material_creation_form_popup .form_wrapper .quantity{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 0 auto;
    gap: 16px;
}
.edit_material_creation_form_popup .form_wrapper .quantity div input{
    margin: 0 auto;
    width: 100%;
}
.edit_material_creation_form_popup .form_wrapper select{
    width: 80%;
    height: 48px;
    background-color: #fff;
    border: 1px solid #DFE1E6;
    border-radius: 8px;
    padding: 0 16px;
    margin: 8px auto;
    display: block;
}
.edit_material_creation_form_popup .form_wrapper select::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #505F79;
}
.edit_material_creation_form_popup .form_wrapper select:focus{
    outline-color: #6C63FF;
}

.edit_material_creation_form_popup .form_wrapper .density_price{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 0 auto;
    gap: 16px;

}

.edit_material_creation_form_popup .form_wrapper .density_price div input{
    width: 100%;
}




.edit_material_creation_form_popup .form_wrapper input{
    width: 80%;
    height: 48px;
    background-color: #fff;
    border: 1px solid #DFE1E6;
    border-radius: 8px;
    padding: 0 16px;
    margin: 8px auto;
    display: block;
    cursor: pointer;
}
.edit_material_creation_form_popup .form_wrapper input:focus{
    outline-color: #6C63FF;
}
.edit_material_creation_form_popup .form_wrapper input::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #505F79;
}
.edit_material_creation_form_popup .form_wrapper span{
    text-align: center;
    display: block;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #BAB6B6;
}
.edit_material_creation_form_popup .form_wrapper .img_wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;

}

.edit_material_creation_form_popup .form_wrapper .img_wrapper img{
    display: inline-block;
    margin: 8px auto;
    cursor: pointer;
}

.edit_material_creation_form_popup .form_wrapper .dimensions_input_wrapper div{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 8px auto;
}

.edit_material_creation_form_popup .form_wrapper .dimensions_input_wrapper div.plate.hide{
    display: none;
}
.edit_material_creation_form_popup .form_wrapper .dimensions_input_wrapper div.tube.hide{
    display: none;
}
.edit_material_creation_form_popup .form_wrapper .dimensions_input_wrapper div.rod.hide{
    display: none;
}
.edit_material_creation_form_popup .form_wrapper .dimensions_input_wrapper div.plate.show{
    display: flex;
}
.edit_material_creation_form_popup .form_wrapper .dimensions_input_wrapper div.tube.show{
    display: flex;
}
.edit_material_creation_form_popup .form_wrapper .dimensions_input_wrapper div.rod.show{
    display: flex;
}
.edit_material_creation_form_popup .form_wrapper .dimensions_input_wrapper input{
    width: 95%;
    margin: 0;
}
.edit_material_creation_form_popup .form_wrapper .btn_wrapper{
    width: 80%;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%);
}
.edit_material_creation_form_popup .form_wrapper .btn_wrapper button{
    display: block;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    border: none;
    width: 100%;
    height: 48px;
    margin: 8px 0;
}
.edit_material_creation_form_popup .form_wrapper .btn_wrapper button:first-child{
    background: #FBB034;
}
.edit_material_creation_form_popup .form_wrapper .btn_wrapper button:last-child{
    background: #00A1C3;
}
/*EDIT MATERIAL POPUP END*/

/*MATERIAL INFO POPUP START*/
.material_info_popup{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(249, 250, 252, 0.8);
    display: none;
    z-index: 2;
}
.material_info_popup.active{
    display: block;
}
.material_info_popup .form_wrapper{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 496px;
    height: 800px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
}
.material_info_popup .form_wrapper img{
    display: block;
    margin: 32px auto 0 auto;
}
.material_info_popup .form_wrapper h1{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #505F79;
    padding: 16px 0;
}
.material_info_popup .form_wrapper .btn_wrapper{
    width: 80%;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%);
}
.material_info_popup .form_wrapper span{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 8px 0;
    color: #505F79;
}
.material_info_popup .form_wrapper img{

    padding: 8px 0;
}


.material_info_popup .form_wrapper .btn_wrapper button{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    border: none;
    width: 100%;
    height: 48px;
    background: #00A1C3;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

/*MATERIAL INFO POPUP END*/

/*DELETE POPUP START*/
.delete_popup{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(249, 250, 252, 0.8);
    display: none;
    z-index: 3;
}
.delete_popup.active{
    display: block;
}
.delete_popup .popup_wrapper{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 496px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
}
.delete_popup .popup_wrapper img{
    display: block;
    margin: 32px auto 32px auto;
}
.delete_popup .popup_wrapper h1{
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #505F79;
    padding: 8px 0;
}
.delete_popup .popup_wrapper h3{
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #505F79;

}
.delete_popup .popup_wrapper .btn_wrapper{
    width: 80%;
    display: flex;
    margin: 0 auto;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%);
    gap: 8px;
}

.delete_popup .popup_wrapper .btn_wrapper button{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    font-weight: 400;
    font-size: 20px;
    border: none;
    width: 100%;
    height: 48px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
.delete_popup .popup_wrapper .btn_wrapper button:last-child{
    background: #CC0000;
    color: #fff;
}
/*DELETE POPUP END*/

/*LOGOUT POPUP START*/
.logout_popup{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(249, 250, 252, 0.8);
    display: none;
    z-index: 2;
}
.logout_popup.active{
    display: block;
}
.logout_popup .popup_wrapper{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 496px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
}
.logout_popup .popup_wrapper img{
    display: block;
    margin: 32px auto 32px auto;
}
.logout_popup .popup_wrapper h1{
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #505F79;
    padding: 8px 0;
}
.logout_popup .popup_wrapper h3{
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #505F79;

}
.logout_popup .popup_wrapper .btn_wrapper{
    width: 80%;
    display: flex;
    margin: 0 auto;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%);
    gap: 8px;
}

.logout_popup .popup_wrapper .btn_wrapper button{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    font-weight: 400;
    font-size: 20px;
    border: none;
    width: 100%;
    height: 48px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
.logout_popup .popup_wrapper .btn_wrapper button:first-child{
    background: #00A1C3;
    color: #fff;
}
/*LOGOUT  POPUP END*/

/*TOOLTIP START*/

.tooltip{
    position: relative;
}

.tooltip::before{
    --scale: 0;
    position: absolute;
    display: block;
    content: "";
    top: -8px;
    left: 50%;
    height: 50%;
    transform: translateX(-50%) translateY(-100%) scale(var(--scale));
    transition:  30ms transform;


}

.tooltip::before {
    content: attr(data-tooltip);
    color: white;
    padding: 8px 24px;
    width: max-content;
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 16px;
    text-align: center;
    z-index: 9999;
}

.special_tooltip{
    position: relative;
}

.special_tooltip::before{
    --scale: 0;
    position: absolute;
    display: block;
    content: "";
    top:0;
    left: 130%;
    height: auto;
    transform: translateX(-50%) translateY(-100%) scale(var(--scale));
    transition:  30ms transform;


}

.special_tooltip::before {
    content: attr(data-tooltip);
    color: white;
    padding: 8px 24px;
    width: 200px;
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 16px;
    text-align: center;
    z-index: 9999;
}

.tooltip:hover::before{
    --scale: 1;
}
.special_tooltip:hover::before{
    --scale: 1;
}

/*TOOLTIP END*/

@media print {
table{
        overflow: hidden;
        text-align: center;
        width: 100%;
    border-collapse: collapse;
    }
table thead{
        color: #ffffff;
        font-size: 18px;
    font-weight: normal;
    }
table thead th{
        padding: 16px 8px;
        color: black;
    }
table thead th img{
display: none;
    }

table tbody tr{
         height: 30px;

     }

    table tbody tr td{

    }
table tbody tr td img{

        display: none;
    }

}