<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Infrastock</title>
    <link media="all" rel="stylesheet" th:href="@{/css/app.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/alert.css}" type="text/css"/>
</head>
<body>


<div class="wrapper">


    <!-- Sidebar part start -->
    <div class="sidebar active">
        <div class="logo_content">
            <div class="logo" id="logo-wrapper">
                <img class="logo_img" alt="Logo" src="/icons/undraw_heavy_box.svg" title="Infrastock">
                <span class="logo_name">Infrastock</span>
                <img id="sidebar_btn" alt="Logo" src="/icons/darhboard_btn.svg" title="Infrastock">
            </div>
        </div>
        <ul class="nav_list">
            <li class="active">
                <a  href="#">
                    <img alt="Materials" src="/icons/materials.svg" title="Materials">
                    <span class="links_name">Materials</span>
                </a>
            </li>
            <li>
                <a  href="#">
                    <img alt="Materials" src="/icons/light.svg" title="Materials">
                    <span class="links_name">Tools</span>
                </a>
            </li>
            <li>
                <a  href="#">
                    <img alt="Materials" src="/icons/wallet.svg" title="Materials">
                    <span class="links_name">Calculations</span>
                </a>
            </li>
            <li id="settings">
                <a  href="#">
                    <img alt="Materials" src="/icons/settings.svg" title="Materials">
                    <span class="links_name">Settings</span>
                </a>
            </li>
            <li id="logout">
                <a  href="#">
                    <img alt="Materials" src="/icons/sign_out.svg" title="Materials">
                    <span class="links_name">Logout</span>
                </a>
            </li>
        </ul>
    </div>
<!--     Sidebar part end -->

<!--     Main part start -->
    <div class="nav-bar">
        <ul>
            <li class="notifications_wrapper"><img src="/icons/Bell.svg" alt=""><span style="pointer-events: auto;" class="notifications_counter">2</span></li>
            <li><img  src="/icons/user.svg" alt=""></li>
            <li><span>admin@inframet.com</span></li>
        </ul>
    </div>

    <div class="main">
        <!--navbar part start-->

        <!--navbar part end-->

<!--        material section start-->
        <div class="material_section_wrapper">
            <div class="material_header_wrapper">
                <h1 class="header">Material section <img src="/icons/question.svg" alt=""></h1>
                <div class="btn_wrapper">
                    <ul>
                        <li>
                            <img src="/icons/add.svg" alt=""><span>New material</span>
                        </li>
                        <li id="add_material_category_btn">
                            <img src="/icons/add.svg" alt=""><span>New category</span>
                        </li>
                        <li>
                            <img src="/icons/refresh.svg" alt=""><span>Refresh</span>
                        </li>
                        <li>
                            <img src="/icons/bag.svg" alt=""><span>Shopping list</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="material_category_wrapper">
                <h1 class="header">Choose material category:</h1>
                <div class="btn_wrapper" id="categories-items">
                    <div class="category_item" >
                        <h1>Pa4 </h1>
                        <h3>Quantity: 15</h3>

                        <img class="del" src="/icons/del.svg" alt="asd">
                        <img class="edit" src="/icons/edit.svg" alt="asda">
                    </div>
                </div>
            </div>
            <div class="material_table_wrapper">
                <h1 class="header">Material table:</h1>
                <div class="table_wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Min. quantity</th>
                                <th>Last update</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>PA13</td>
                            <td>3 <img class="face" src="/icons/happy.svg" alt=""></td>
                            <td>15</td>
                            <td>10/22/2022</td>
                            <td><img src="/icons/edit_fill.svg" alt=""><img src="/icons/info_fill.svg" alt=""><img src="/icons/del_table.svg" alt=""></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>PA13</td>
                            <td>3 <img class="face" src="/icons/sad.svg" alt=""></td>
                            <td>15</td>
                            <td>10/22/2022</td>
                            <td><img src="/icons/edit_fill.svg" alt=""><img src="/icons/info_fill.svg" alt=""><img src="/icons/del_table.svg" alt=""></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <!--        material section end-->
    </div>
<!--     Main part end -->
    <!--        Alert part start-->
    <div class="alert_wrapper">
        <div class="alert_info">
            <div  id="alert_info" class="alert info">
                <img class="alert_msg_icon" src="/icons/info.svg" alt=""><span class="alert-msg" id="alert_info_msg">Info</span>
                <span class="alert-close-btn info" id="alert_info_close_btn"><img src="/icons/Close_round.svg" alt=""></span>
            </div>
        </div>
        <div class="alert_success">
            <div id="alert_success" class="alert success">
                <img class="alert_msg_icon" src="/icons/done.svg" alt=""><span class="alert-msg" id="alert_success_msg">Success!</span>
                <span class="alert-close-btn success" id="alert_success_close_btn"><img src="/icons/Close_round.svg" alt=""></span>
            </div>
        </div>
        <div class="alert_error">
            <div id="alert_error" class="alert error">
                <img class="alert_msg_icon" src="/icons/Alarm.svg" alt=""><span class="alert-msg" id="alert_error_msg">Something wrong!</span>
                <span class="alert-close-btn error" id="alert_error_close_btn"><img src="/icons/Close_round.svg" alt=""></span>
            </div>
        </div>
    </div>

    <!--    Alert part end-->
<!--POPUP start-->
    <div class="material_category_creation_form_popup" id="material_category_creation_form_popup">
        <div class="form_wrapper">
            <img src="/icons/undraw_add_info.svg" alt="">
            <h1>Material category creation form</h1>
            <input id="material_category_name" type="text" placeholder="Material category name">
            <div class="btn_wrapper">
                <button id="material_category_creation_form_popup_create_btn">Create</button>
                <button id="material_category_creation_form_popup_close_btn">Close</button>
            </div>
        </div>
    </div>
    <div class="material_category_edit_form_popup">
        <div class="form_wrapper">
            <img src="/icons/undraw_add_info.svg" alt="">
            <h1>Edit material category</h1>
            <input type="text" placeholder="Material category name">
            <div class="btn_wrapper">
                <button>Update</button>
                <button>Close</button>
            </div>
        </div>
    </div>
    <div class="new_material_creation_form_popup">
        <div class="form_wrapper">
            <img src="/icons/addfiles.svg" alt="">
            <h1>New material creation form</h1>
            <input type="text" placeholder="Material name">
            <div class="quantity">
                <input type="number" placeholder="Quantity" min="0" step="1">
                <input type="number" placeholder="Min. quantity" min="0" step="1">
            </div>
            <select name="categories" id="material_categories">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <div class="density_price">
                <input type="number" placeholder="Density [g/cm3]" min="0">
                <input type="number" placeholder="Price [PLN/kg]" min="0">
            </div>
            <span>Dimensions:</span>
            <div class="img_wrapper">
                <img src="/icons/Add_1.svg" alt="">
                <img src="/icons/Add_2.svg" alt="">
                <img src="/icons/Add_3.svg" alt="">
            </div>
            <div class="dimensions_input_wrapper">
                <input type="number" placeholder="X [mm]" min="0">
                <input type="number" placeholder="Y [mm]" min="0">
                <input type="number" placeholder="Z [mm]" min="0">
            </div>
            <div class="btn_wrapper">
                <button>Create</button>
                <button>Close</button>
            </div>
        </div>
    </div>
    <div class="edit_material_creation_form_popup">
        <div class="form_wrapper">
            <img src="/icons/update.svg" alt="">
            <h1>Edit material</h1>
            <input type="text" placeholder="Material name">
            <div class="quantity">
                <input type="number" placeholder="Quantity" min="0" step="1">
                <input type="number" placeholder="Min. quantity" min="0" step="1">
            </div>
            <select name="categories" id="material_categories_edit_form">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <div class="density_price">
                <input type="number" placeholder="Density [g/cm3]" min="0">
                <input type="number" placeholder="Price [PLN/kg]" min="0">
            </div>
            <span>Dimensions:</span>
            <div class="img_wrapper">
                <img src="/icons/Add_1.svg" alt="">
                <img src="/icons/Add_2.svg" alt="">
                <img src="/icons/Add_3.svg" alt="">
            </div>
            <div class="dimensions_input_wrapper">
                <input type="number" placeholder="X [mm]" min="0">
                <input type="number" placeholder="Y [mm]" min="0">
                <input type="number" placeholder="Z [mm]" min="0">
            </div>
            <div class="btn_wrapper">
                <button>Update</button>
                <button>Close</button>
            </div>
        </div>
    </div>
    <div class="material_info_popup">
        <div class="form_wrapper">
            <img src="/icons/questions.svg" alt="">
            <h1>Info</h1>
            <span>Material description: </span>
            <span>Quantity: </span>
            <span>Mass per piece: </span>
            <span><strong>Total mass: </strong></span>
            <img src="/icons/dollar.svg" alt="">
            <span>Price per piece: </span>
            <span><strong>Total price: </strong></span>
            <div class="btn_wrapper">
                <button>Close</button>
            </div>
        </div>
    </div>
    <div class="delete_popup" id="delete_popup">
        <div class="popup_wrapper">
            <img src="/icons/red_trash.svg" alt="">
            <h1>Delete?</h1>
            <h3>Here something is Deleted.</h3>
            <div class="btn_wrapper">
                <button id="delete_popup_cancel_btn">Cancel</button>
                <button id="delete_popup_delete_btn">Delete</button>
            </div>
        </div>
    </div>
    <div id="logout_popup" class="logout_popup">
        <div class="popup_wrapper">
            <img src="/icons/logout.svg" alt="">
            <h1>Log out from Infrastock?</h1>
            <div class="btn_wrapper">
                <button id="logout_btn_confirm">Yes, log out</button>
                <button id="logout_btn_cancel">Cancel</button>
            </div>
        </div>
    </div>
<!--    POPUP END-->
</div>

<script
        crossorigin="anonymous"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/getMaterialCategories.js}"></script>
<script th:src="@{/js/getMaterials.js}"></script>
<script th:src="@{/js/navigation_btn.js}"></script>
<script th:src="@{/js/alert.js}"></script>
<script th:src="@{/js/addNewMaterial.js}"></script>
<script th:src="@{/js/addMaterialCategory.js}"></script>
<script th:src="@{/js/printThis.js}"></script>
<script th:src="@{/js/printTable.js}"></script>
<script th:src="@{/js/notificationDropdown.js}"></script>
<script th:src="@{/js/material_info.js}"></script>
</body>
</html>
