<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="icon" type="image/x-icon" href="/icons/box-16.ico">
    <title>Infrastock</title>
    <link media="all" rel="stylesheet" href="/css/app.css" type="text/css"/>
    <link media="all" rel="stylesheet" href="/css/alert.css" type="text/css"/>
</head>
<body>


<div class="wrapper">


    <!-- SIDEBAR SECTION START -->
    <div class="sidebar active">
        <div class="logo_content">
            <div class="logo">
                <div class="logo" id="logo-wrapper">
                    <img alt="Logo" class="logo_img" src="/icons/box-logo.svg" title="Infrastock">
                    <span class="logo_name">Infrastock</span>
                </div>
                <img alt="Logo" id="sidebar_btn" src="/icons/darhboard_btn.svg" title="Infrastock">
            </div>
        </div>
        <ul class="nav_list">
            <li class="nav_btn" id="materialsBtn">
                <a href="#" title="Materials section">
                    <img src="/icons/materials.svg" alt="Materials">
                    <span class="links_name">Materials</span>
                </a>
            </li>
            <li class="nav_btn" id="toolsBtn">
                <a href="#" title="Tools section">
                    <img src="/icons/light.svg" alt="Tools">
                    <span class="links_name">Tools</span>
                </a>
            </li>
            <li class="nav_btn" id="calculationsBtn">
                <a href="#" title="Projects calculations">
                    <img src="/icons/wallet.svg" alt="Project calulations">
                    <span class="links_name">Calculations</span>
                </a>
            </li>
            <li class="disabled" id="settings">
                <a href="#" title="Settings">
                    <img src="/icons/settings.svg" alt="Settings">
                    <span class="links_name">Settings</span>
                </a>
            </li>
            <li id="logout" title="Logout">
                <a href="#">
                    <img src="/icons/sign_out.svg" alt="Logout">
                    <span class="links_name">Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <!--     SIDEBAR SECTION END -->

    <!--     MAIN SECTION START -->

    <!--NAVBAR SECTION START-->
    <div class="nav-bar">
        <ul>
            <li class="notifications_wrapper" id="notificationButton">
                <img alt="" src="/icons/Bell.svg">
                <span class="notifications_counter" id="notificationCounter"></span>
                <div class="dropdown-content" id="notificationDropdown">
                    <div class="notification-header">
                        <p>Notifications:</p>
                    </div>
                    <div class="notification-content" id="notificationContent">
                        <div class="notification">
                            <p class="text">Admin added new tool.Admin added new tool.Admin added new
                                tool.</p>
                            <p class="date">time</p>
                            <img alt="" src="/icons/del_table.svg">
                        </div>
                    </div>
                </div>
            </li>
            <li><span id="userInfo">admin@inframet.com</span></li>
        </ul>
    </div>

    <div class="main">
        <!--NAVBAR SECTION END-->

        <!--DASHBOARD SECTION START-->
        <div class="dashboard_section_wrapper active" id="dashboard_section_wrapper">
            <div class="dashboard_header_wrapper">
                    <h1 class="header">Quick overview</h1>
            </div>
            <div class="quick_overviews_wrapper">
                <div class="quick_overview_item" id="materials_to_buy">
                    <h1>Materials to buy:</h1>
                     <p id="materials_to_buy_count">32<strong>positions</strong></p>
                    <img src="/icons/metal_bar.svg" alt="Materials">
                </div>
                <div class="quick_overview_item" style="border-color: #FF9800">
                    <h1>Net worth of materials:</h1>
                    <p id="materials_net_worth">32 000<strong>PLN</strong></p>
                    <img src="/icons/wallet_overview.svg" alt="Materials">
                </div>
                <div class="quick_overview_item" style="border-color: #4F46E5" id="tools_to_buy">
                    <h1>Tools to buy:</h1>
                    <p id="tools_to_buy_count">15<strong>positions</strong></p>
                    <img src="/icons/drill.svg" alt="Materials">
                </div>
                <div class="quick_overview_item" style="border-color: #26E7A5">
                    <h1>Net worth of tools:</h1>
                    <p id="tools_net_worth">16 300<strong>PLN</strong></p>
                    <img src="/icons/wallet_overview.svg" alt="Materials">
                </div>
                <div class="quick_overview_item" style="border-color: #00A1C3">
                    <h1>Project calculations</h1>
                    <p id="project_calculations">22<strong>calculations</strong></p>
                    <img src="/icons/calculator.svg" alt="Materials">
                </div>

            </div>
        </div>

        <!--DASHBOARD SECTION END-->

        <!--MATERIAL SECTION START-->
        <div class="material_section_wrapper" id="material_section_wrapper">
            <div class="material_header_wrapper">
                <div class="special_tooltip"
                     data-tooltip="The module allows you to manage the warehouse of materials">
                    <h1 class="header">Material section <img alt="" src="/icons/question.svg"></h1>
                </div>
                <div class="btn_wrapper">
                    <ul>
                        <li id="new_material_btn">
                            <img alt="" src="/icons/add.svg"><span>Create material</span>
                        </li>
                        <li id="add_material_category_btn">
                            <img alt="" src="/icons/add.svg"><span>Material category</span>
                        </li>
                        <li id="clear-filters-button">
                            <img alt="" src="/icons/refresh.svg"><span>Refresh</span>
                        </li>
                        <li id="materialShoppingList">
                            <img alt="" src="/icons/Bag.svg"><span>Materials to buy</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="material_category_wrapper">
                <h1 class="header">Choose tool category <img src="/icons/settings_icon.svg" alt="Edit" title="Edit category" id="material_category_setting_btn"></h1>
                <div class="btn_wrapper" id="categories-items">
                </div>
            </div>
            <div class="material_table_wrapper">
                <h1 class="header">Material table:</h1>
                <div class="table_wrapper">
                    <table id="materials-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Min. quantity</th>
                            <th>Category</th>
                            <th>Inventory date</th>
                            <th><img alt="" id="material_pdf" src="/icons/print.svg" title="Print table"></th>
                        </tr>
                        </thead>
                        <tbody id="materials_items">
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <!--MATERIAL SECTION END-->


        <!--TOOL SECTION START-->
        <div class="tool_section_wrapper" id="tool_section_wrapper">
            <div class="tool_header_wrapper">
                <div class="special_tooltip"
                     data-tooltip="The module allows you to manage the warehouse of tools">
                    <h1 class="header">Tool section <img alt="" src="/icons/question.svg"></h1>
                </div>
                <div class="btn_wrapper">
                    <ul>
                        <li id="new_tool_btn">
                            <img alt="" src="/icons/add.svg"><span>Create tool</span>
                        </li>
                        <li id="add_tool_category_btn">
                            <img alt="" src="/icons/add.svg"><span>Tool category</span>
                        </li>
                        <li id="tool_clear-filters-button">
                            <img alt="" src="/icons/refresh.svg"><span>Refresh</span>
                        </li>
                        <li id="toolShoppingList">
                            <img alt="" src="/icons/Bag.svg"><span>Tools to buy</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tool_category_wrapper">
                <h1 class="header">Choose tool category <img src="/icons/settings_icon.svg" alt="Edit" title="Edit category" id="tool_category_setting_btn"></h1>
                <div class="btn_wrapper" id="tool-categories-items">
                </div>
            </div>
            <div class="tool_table_wrapper">
                <h1 class="header">Tool table:</h1>
                <div class="table_wrapper">
                    <table id="tool-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Min. quantity</th>
                            <th>Category</th>
                            <th>Inventory date</th>
                            <th><img alt="" id="tool_pdf" src="/icons/print.svg" title="Print table"></th>
                        </tr>
                        </thead>
                        <tbody id="tool_items">
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <!--TOOL SECTION END-->

        <!--PROJECT CALCULATION SECTION START-->
        <div class="calculation_section_wrapper" id="calculation_section_wrapper">
            <div class="calculation_header_wrapper">
                <div class="special_tooltip"
                     data-tooltip="The module allows you to see information about project calculations">
                    <h1 class="header">Project calculations <img alt="" src="/icons/question.svg"></h1>
                </div>
                <div class="btn_wrapper">
                    <ul>
                        <li id="new_project_calculation_btn">
                            <img alt="" src="/icons/add.svg"><span>Create calculation</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="project_calculation_table_wrapper">
                <h1 class="header">All calculations:</h1>
                <div class="table_wrapper">
                    <table id="project_calculation_table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Project name</th>
                            <th>Date</th>
                            <th>Material value</th>
                            <th>CNC time</th>
                            <th>Status</th>
                            <th><img alt="" id="project_calculation_pdf" src="/icons/print.svg" title="Print table"></th>
                        </tr>
                        </thead>
                        <tbody id="project_calculation_items">
                        <tr>
                            <td class="material-list-number">1</td>
                            <td>LOR10</td>
                            <td>22/11/22</td>
                            <td>5200 <strong>PLN</strong></td>
                            <td>32 <strong>h</strong></td>
                            <td><button class="finish">Finish</button></td>
                            <td><img src="/icons/edit_fill.svg" alt="" onclick="updateMaterial(${material.id})" title="Edit"><img src="/icons/info_fill.svg" alt="" onclick="showMaterialInfoPopUp(${material.id})" title="Info"><img src="/icons/del_table.svg" alt="" onclick="deleteMaterial(${material.id})" title="Delete"></td>
                        </tr>
                        <tr>
                            <td class="material-list-number">1</td>
                            <td>LOR10</td>
                            <td>22/11/22</td>
                            <td>5200 <strong>PLN</strong></td>
                            <td>32 <strong>h</strong></td>
                            <td><button class="pending">Pending</button></td>
                            <td><img src="/icons/edit_fill.svg" alt="" onclick="updateMaterial(${material.id})" title="Edit"><img src="/icons/info_fill.svg" alt="" onclick="showMaterialInfoPopUp(${material.id})" title="Info"><img src="/icons/del_table.svg" alt="" onclick="deleteMaterial(${material.id})" title="Delete"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <!--PROJECT CALCULATION SECTION END-->

        <!--PROJECT CALCULATION CREATION FORM START-->
        <div class="calculation_creation_form_section_wrapper" id="calculation_creation_form_section_wrapper">
            <div class="calculation_creation_form_header_wrapper">
                <div class="special_tooltip"
                     data-tooltip="Create your project calculation">
                    <h1 class="header">New calculation creation form <img alt="" src="/icons/question.svg"></h1>
                </div>
                <div class="btn_wrapper">
                    <ul>
                        <li id="add_material_from_db">
                            <img alt="" src="/icons/add.svg"><span>Add material from database</span>
                        </li>
                        <li id="add_your_own_material">
                            <img alt="" src="/icons/add.svg"><span>Add your own material</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="project_calculation_creation_form_table_wrapper">
                <h1 class="header">Project calculation name:</h1>
                <input type="text" placeholder="what is the name of your project?">
                <h1 class="header">CNC machine time:</h1>
                <input type="text" placeholder="how much time did the CNC machining take? (hours)">
                <div class="status">
                    <p>Status:  <button>Pending</button></p>
                </div>
                <div class="table_wrapper">
                    <table id="">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Material description</th>
                            <th>Category</th>
                            <th>Quantity</th>
                            <th>Value</th>
                            <th><img alt="" id="" src="/icons/print.svg" title="Print table"></th>
                        </tr>
                        </thead>
                        <tbody id="">
                        <tr>
                            <td class="material-list-number">1</td>
                            <td>PA 13 10_415_575</td>
                            <td>PA 13</td>
                            <td>3</td>
                            <td>3000<strong> PLN</strong></td>
                            <td><img src="/icons/del_table.svg" alt="" onclick="deleteMaterial(${material.id})" title="Delete"></td>
                        </tr>
                        <tr>
                            <td class="material-list-number">1</td>
                            <td>PA 13 10_415_575</td>
                            <td>PA 13</td>
                            <td>3</td>
                            <td>3000<strong> PLN</strong></td>
                            <td><img src="/icons/del_table.svg" alt="" onclick="deleteMaterial(${material.id})" title="Delete"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button class="save">Save</button>
            </div>

        </div>

        <!--PROJECT CALCULATION CREATION FORM END-->

        <!-- SELECT MATERIAL SECTION START-->
        <div class="select_material_section_wrapper" id="select_material_section_wrapper">
            <div class="material_header_wrapper">
                <div class="special_tooltip"
                     data-tooltip="Choose a material and calculate the value of your project">
                    <h1 class="header">Select material from database <img alt="" src="/icons/question.svg"></h1>
                </div>
                <div class="btn_wrapper">
                    <ul>
                        <li id="back_to_calculations_btn">
                           <span>Back to calculations</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="material_category_wrapper">
                <h1 class="header">Choose material category:</h1>
                <div class="btn_wrapper" id="categories-items">
                </div>
            </div>
            <div class="material_table_wrapper">
                <h1 class="header">Material table:</h1>
                <div class="table_wrapper">
                    <table id="materials-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <th>Value</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="materials_items">
                        <tr>
                            <td class="material-list-number">1</td>
                            <td>PA13</td>
                            <td>300 PLN</td>
                            <td><button><img src="/icons/add.svg" alt="">Add</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <!--SELECT MATERIAL SECTION END-->


    </div>
    <!--MAIN SECTION END-->


    <!--ALERT SECTION START-->
    <div class="alert_wrapper">
        <div class="alert_info">
            <div class="alert info" id="alert_info">
                <img alt="" class="alert_msg_icon" src="/icons/info.svg"><span class="alert-msg" id="alert_info_msg">Info</span>
                <span class="alert-close-btn info" id="alert_info_close_btn"><img alt=""
                                                                                  src="/icons/Close_round.svg"></span>
            </div>
        </div>
        <div class="alert_success">
            <div class="alert success" id="alert_success">
                <img alt="" class="alert_msg_icon" src="/icons/done.svg"><span class="alert-msg" id="alert_success_msg">Success!</span>
                <span class="alert-close-btn success" id="alert_success_close_btn"><img alt=""
                                                                                        src="/icons/Close_round.svg"></span>
            </div>
        </div>
        <div class="alert_error">
            <div class="alert error" id="alert_error">
                <img alt="" class="alert_msg_icon" src="/icons/Alarm.svg"><span class="alert-msg" id="alert_error_msg">Something wrong!</span>
                <span class="alert-close-btn error" id="alert_error_close_btn"><img alt="" src="/icons/Close_round.svg"></span>
            </div>
        </div>
    </div>

    <!--ALERT SECTION END-->

    <!--POPUP SECTION START-->

    <!--    MATERIAL POPUP SECTION START-->
    <div class="material_category_creation_form_popup" id="material_category_creation_form_popup">
        <div class="form_wrapper">
            <img alt="" src="/icons/undraw_add_info.svg">
            <h1>Material category creation form</h1>
            <div class="tooltip" data-tooltip="Material category description">
                <input id="material_category_name" placeholder="Material category name" type="text">
            </div>
            <div class="btn_wrapper">
                <button id="material_category_creation_form_popup_create_btn">Create</button>
                <button id="material_category_creation_form_popup_close_btn">Close</button>
            </div>
        </div>
    </div>
    <div class="material_category_edit_form_popup" id="material_category_edit_form_popup">
        <div class="form_wrapper">
            <img alt="" src="/icons/undraw_add_info.svg">
            <h1>Edit tool category</h1>
            <div class="tooltip" data-tooltip="Material category description">
                <input id="material_category_edit_form_popup_category_name_input" placeholder="Material category name"
                       type="text">
            </div>
            <div class="btn_wrapper">
                <button id="material_category_edit_form_popup_update_btn">Update</button>
                <button id="material_category_edit_form_popup_close_btn">Close</button>
            </div>
        </div>
    </div>
    <div class="new_material_creation_form_popup" id="new_material_creation_form_popup">
        <div class="form_wrapper">
            <img alt="" class="logo" src="/icons/addfiles.svg">
            <h1>New tool creation form</h1>
            <div class="tooltip" data-tooltip="Material name">
                <input id="material_description" placeholder="Material name" type="text">
            </div>
            <div class="quantity">
                <div class="tooltip" data-tooltip="Quantity">
                    <input id="quantity" min="0" placeholder="Quantity" step="1" type="number">
                </div>
                <div class="tooltip" data-tooltip="Minimum quantity">
                    <input id="minimum_quantity" min="0" placeholder="Min. quantity" step="1" type="number">
                </div>
            </div>
            <div class="tooltip" data-tooltip="Material category">
                <select id="material_categories" name="categories">
                </select>
            </div>
            <div class="density_price">
                <div class="tooltip" data-tooltip="Density [g/cm3]">
                    <input id="density" min="0" placeholder="Density [g/cm3]" type="number">
                </div>
                <div class="tooltip" data-tooltip="Net price [PLN/kg]">
                    <input id="price" min="0" placeholder="Net price [PLN/kg]" type="number">
                </div>
            </div>
            <span>Dimensions:</span>
            <div class="img_wrapper">
                <div class="tooltip" data-tooltip="Dimension for plate">
                    <img alt="Plate" id="plate_btn" src="/icons/Add_1.svg">
                </div>
                <div class="tooltip" data-tooltip="Dimension for Tube">
                    <img alt="Tube" id="tube_btn" src="/icons/Add_2.svg">
                </div>
                <div class="tooltip" data-tooltip="Dimension for Rod">
                    <img alt="Rod" id="rod_btn" src="/icons/Add_3.svg">
                </div>
            </div>
            <div class="dimensions_input_wrapper">

                <div class="plate" id="plate_inputs">
                    <div class="tooltip" data-tooltip="X axis dimension [mm]">
                        <input id="x_dimension" min="0" placeholder="X [mm]" type="number">
                    </div>
                    <div class="tooltip" data-tooltip="Y axis dimension [mm]">
                        <input id="y_dimension" min="0" placeholder="Y [mm]" type="number">
                    </div>
                    <div class="tooltip" data-tooltip="Z axis dimension [mm]">
                        <input id="z_dimension" min="0" placeholder="Z [mm]" type="number">
                    </div>
                </div>
                <div class="tube hide" id="tube_inputs">
                    <div class="tooltip" data-tooltip="Outer diameter &#x2300; [mm]">
                        <input id="D_outer_dimension" min="0" placeholder="&#x2300; [mm]" type="number">
                    </div>
                    <div class="tooltip" data-tooltip="Inner diameter &#x2300; [mm]">
                        <input id="d_inner_dimension" min="0" placeholder="&#8960; [mm]" type="number">
                    </div>
                    <div class="tooltip" data-tooltip="Length of tube [mm]">
                        <input id="length_dimension" min="0" placeholder="L [mm]" type="number">
                    </div>
                </div>
                <div class="rod hide" id="rod_inputs">
                    <div class="tooltip" data-tooltip="Diameter &#x2300; [mm]">
                        <input id="d_dimension" min="0" placeholder="&#x2300; [mm]" type="number">
                    </div>
                    <div class="tooltip" data-tooltip="Length of rod [mm]">
                        <input id="length_rod_dimension" min="0" placeholder="L [mm]" type="number">
                    </div>
                </div>

            </div>
            <div class="btn_wrapper">
                <button id="new_material_creation_form_popup_create_btn">Create</button>
                <button id="new_material_creation_form_popup_close_btn">Close</button>
            </div>
        </div>
    </div>
    <div class="edit_material_creation_form_popup" id="edit_material_creation_form_popup">
        <div class="form_wrapper">
            <img alt="" class="logo" src="/icons/update.svg">
            <h1>Edit tool</h1>
            <div class="tooltip" data-tooltip="Material name">
                <input id="material_description_edit" placeholder="Material name" type="text">
            </div>
            <div class="quantity">
                <div class="tooltip" data-tooltip="Quantity">
                    <input id="quantity_edit" min="0" placeholder="Quantity" step="1" type="number">
                </div>
                <div class="tooltip" data-tooltip="Minimum quantity">
                    <input id="minimum_quantity_edit" min="0" placeholder="Min. quantity" step="1" type="number">
                </div>
            </div>
            <div class="tooltip" data-tooltip="Material category">
                <select id="material_categories_edit" name="categories">
                </select>
            </div>
            <div class="density_price">
                <div class="tooltip" data-tooltip="Density [g/cm3]">
                    <input id="density_edit" min="0" placeholder="Density [g/cm3]" type="number">
                </div>
                <div class="tooltip" data-tooltip="Net price [PLN/kg]">
                    <input id="price_edit" min="0" placeholder="Net price [PLN/kg]" type="number">
                </div>
            </div>
            <span>Dimensions:</span>
            <div class="img_wrapper">
                <div class="tooltip" data-tooltip="Dimension for plate">
                    <img alt="Plate" id="plate_btn_edit" src="/icons/Add_1.svg">
                </div>
                <div class="tooltip" data-tooltip="Dimension for tube">
                    <img alt="Tube" id="tube_btn_edit" src="/icons/Add_2.svg">
                </div>
                <div class="tooltip" data-tooltip="Dimension for rod">
                    <img alt="Rod" id="rod_btn_edit" src="/icons/Add_3.svg">
                </div>
            </div>
            <div class="dimensions_input_wrapper">

                <div class="plate" id="plate_inputs_edit">
                    <div class="tooltip" data-tooltip="X axis dimension [mm]">
                        <input id="x_dimension_edit" min="0" placeholder="X [mm]" type="number">
                    </div>
                    <div class="tooltip" data-tooltip="Y axis dimension [mm]">
                        <input id="y_dimension_edit" min="0" placeholder="Y [mm]" type="number">
                    </div>
                    <div class="tooltip" data-tooltip="Z axis dimension [mm]">
                        <input id="z_dimension_edit" min="0" placeholder="Z [mm]" type="number">
                    </div>
                </div>
                <div class="tube hide" id="tube_inputs_edit">
                    <div class="tooltip" data-tooltip="Outer diameter &#x2300; [mm]">
                        <input id="D_outer_dimension_edit" min="0" placeholder="&#x2300; [mm]" type="number">
                    </div>
                    <div class="tooltip" data-tooltip="Inner diameter &#x2300; [mm]">
                        <input id="d_inner_dimension_edit" min="0" placeholder="&#8960; [mm]" type="number">
                    </div>
                    <div class="tooltip" data-tooltip="Length of tube [mm]">
                        <input id="length_dimension_edit" min="0" placeholder="L [mm]" type="number">
                    </div>
                </div>
                <div class="rod hide" id="rod_inputs_edit">
                    <div class="tooltip" data-tooltip="Diameter &#x2300; [mm]">
                        <input id="d_dimension_edit" min="0" placeholder="&#x2300; [mm]" type="number">
                    </div>
                    <div class="tooltip" data-tooltip="Length of rod [mm]">
                        <input id="length_rod_dimension_edit" min="0" placeholder="L [mm]" type="number">
                    </div>
                </div>

            </div>
            <div class="btn_wrapper">
                <button id="edit_material_creation_form_popup_update_btn">Update</button>
                <button id="edit_material_creation_form_popup_close_btn">Close</button>
            </div>
        </div>
    </div>
    <div class="material_info_popup" id="material_info">
        <div class="form_wrapper">
            <img alt="" src="/icons/questions.svg">
            <h1>Info</h1>
            <span id="material_description_info">Material description: </span>
            <span id="material_quantity_info">Quantity: </span>
            <span id="material_mass_info">Mass per piece: </span>
            <span><strong id="material_total_mass_info">Total mass: </strong></span>
            <img alt="" src="/icons/dollar.svg">
            <span id="material_price_info">Net price per piece: </span>
            <span><strong id="material_total_price">Total net price: </strong></span>
            <div class="btn_wrapper">
                <button id="material_info_close_btn">Close</button>
            </div>
        </div>
    </div>
    <!--    MATERIAL POPUP SECTION END-->

    <!--    TOOL POPUP SECTION START-->
    <div class="tool_category_creation_form_popup" id="tool_category_creation_form_popup">
        <div class="form_wrapper">
            <img alt="" src="/icons/undraw_add_info.svg">
            <h1>Tool category creation form</h1>
            <div class="tooltip" data-tooltip="Tool type description">
                <input id="tool_category_name" placeholder="Tool category" type="text">
            </div>
            <div class="btn_wrapper">
                <button id="tool_category_creation_form_popup_create_btn">Create</button>
                <button id="tool_category_creation_form_popup_close_btn">Close</button>
            </div>
        </div>
    </div>
    <div class="tool_category_edit_form_popup" id="tool_category_edit_form_popup">
        <div class="form_wrapper">
            <img alt="" src="/icons/undraw_add_info.svg">
            <h1>Edit tool category</h1>
            <div class="tooltip" data-tooltip="Tool category description">
                <input id="tool_category_edit_form_popup_category_name_input" placeholder="Tool category name"
                       type="text">
            </div>
            <div class="btn_wrapper">
                <button id="tool_category_edit_form_popup_update_btn">Update</button>
                <button id="tool_category_edit_form_popup_close_btn">Close</button>
            </div>
        </div>
    </div>
    <div class="new_tool_creation_form_popup" id="new_tool_creation_form_popup">
        <div class="form_wrapper">
            <img alt="" class="logo" src="/icons/addfiles.svg">
            <h1>New tool creation form</h1>
            <div class="tooltip" data-tooltip="Tool description">
                <input id="tool_description" placeholder="Tool description" type="text">
            </div>
            <div class="quantity">
                <div class="tooltip" data-tooltip="Quantity">
                    <input id="tool_quantity" min="0" placeholder="Quantity" step="1" type="number">
                </div>
                <div class="tooltip" data-tooltip="Minimum quantity">
                    <input id="tool_minimum_quantity" min="0" placeholder="Min. quantity" step="1" type="number">
                </div>
            </div>
            <div class="tooltip" data-tooltip="Tool category">
                <select id="tool_categories" name="categories">
                </select>
            </div>
            <div class="tool_price">
                <div class="tooltip" data-tooltip="Net price [PLN]">
                    <input id="tool_price" min="0" placeholder="Net price [PLN]" type="number">
                </div>
            </div>
            <span>Links:</span>
            <div class="links_wrapper">
                <div class="tooltip" data-tooltip="1. Link">
                    <input placeholder="1. Link to the store" type="URL" id="tool_link_1">
                </div>
                <div class="tooltip" data-tooltip="2. Link">
                    <input placeholder="2. Link to the store" type="URL" id="tool_link_2">
                </div>
            </div>

            <div class="btn_wrapper">
                <button id="tool_new_material_creation_form_popup_create_btn">Create</button>
                <button id="tool_new_material_creation_form_popup_close_btn">Close</button>
            </div>
        </div>
    </div>
    <div class="edit_tool_creation_form_popup" id="edit_tool_creation_form_popup">
        <div class="form_wrapper">
            <img alt="" class="logo" src="/icons/update.svg">
            <h1>Edit tool</h1>
            <div class="tooltip" data-tooltip="Tool name">
                <input id="tool_description_edit" placeholder="Tool name" type="text">
            </div>
            <div class="quantity">
                <div class="tooltip" data-tooltip="Quantity">
                    <input id="tool_quantity_edit" min="0" placeholder="Quantity" step="1" type="number">
                </div>
                <div class="tooltip" data-tooltip="Minimum quantity">
                    <input id="tool_minimum_quantity_edit" min="0" placeholder="Min. quantity" step="1" type="number">
                </div>
            </div>
            <div class="tooltip" data-tooltip="Tool category">
                <select id="tool_categories_edit" name="categories">
                </select>
            </div>
            <div class="tool_price">
                <div class="tooltip" data-tooltip="Price [PLN/kg]">
                    <input id="tool_price_edit" min="0" placeholder="Net price [PLN]" type="number">
                </div>
            </div>
            <span>Links:</span>
            <div class="links_wrapper">
                <div class="tooltip" data-tooltip="1. Link">
                    <input placeholder="1. Link to the store" type="URL" id="tool_link_1_edit">
                </div>
                <div class="tooltip" data-tooltip="2. Link">
                    <input placeholder="2. Link to the store" type="URL" id="tool_link_2_edit">
                </div>
            </div>

            <div class="btn_wrapper">
                <button id="edit_tool_creation_form_popup_update_btn">Update</button>
                <button id="edit_tool_creation_form_popup_close_btn">Close</button>
            </div>
        </div>
    </div>
    <div class="tool_info_popup" id="tool_info">
        <div class="form_wrapper">
            <img alt="" src="/icons/questions.svg">
            <h1>Info</h1>
            <span id="tool_description_info">Tool description: </span>
            <span id="tool_quantity_info">Quantity: </span>
            <span id="tool_link_1_info">1. Link: </span>
            <span id="tool_link_2_info">2. Link: </span>
            <img alt="" src="/icons/dollar.svg">
            <span id="tool_price_info">Tool price: </span>
            <span><strong id="tool_total_price">Total price: </strong></span>
            <div class="btn_wrapper">
                <button id="tool_info_close_btn">Close</button>
            </div>
        </div>
    </div>
    <!--    TOOL POPUP SECTION END-->

    <!--    PROJECT CALCULATION SECTION START-->
    <div class="own_material_creation_form_popup" id="own_material_creation_form_popup">
        <div class="form_wrapper">
            <img alt="" class="logo" src="/icons/addfiles.svg">
            <h1>Own material creation form</h1>
            <div class="tooltip" data-tooltip="Material name">
                <input id="own_material_description" placeholder="Material name" type="text">
            </div>
            <div class="quantity">
                <div class="tooltip" data-tooltip="Quantity">
                    <input id="own_material_quantity" min="0" placeholder="Quantity" step="1" type="number">
                </div>
            </div>
            <div class="density_price">
                <div class="tooltip" data-tooltip="Density [g/cm3]">
                    <input id="own_material_density" min="0" placeholder="Density [g/cm3]" type="number">
                </div>
                <div class="tooltip" data-tooltip="Net price [PLN/kg]">
                    <input id="own_material_price" min="0" placeholder="Net price [PLN/kg]" type="number">
                </div>
            </div>
            <span>Dimensions:</span>
            <div class="img_wrapper">
                <div class="tooltip" data-tooltip="Dimension for plate">
                    <img alt="Plate" id="own_material_plate_btn" src="/icons/Add_1.svg">
                </div>
                <div class="tooltip" data-tooltip="Dimension for Tube">
                    <img alt="Tube" id="own_material_tube_btn" src="/icons/Add_2.svg">
                </div>
                <div class="tooltip" data-tooltip="Dimension for Rod">
                    <img alt="Rod" id="own_material_rod_btn" src="/icons/Add_3.svg">
                </div>
            </div>
            <div class="dimensions_input_wrapper">

                <div class="plate" id="own_material_plate_inputs">
                    <div class="tooltip" data-tooltip="X axis dimension [mm]">
                        <input id="own_material_x_dimension" min="0" placeholder="X [mm]" type="number">
                    </div>
                    <div class="tooltip" data-tooltip="Y axis dimension [mm]">
                        <input id="own_material_y_dimension" min="0" placeholder="Y [mm]" type="number">
                    </div>
                    <div class="tooltip" data-tooltip="Z axis dimension [mm]">
                        <input id="own_material_z_dimension" min="0" placeholder="Z [mm]" type="number">
                    </div>
                </div>
                <div class="tube hide" id="own_material_tube_inputs">
                    <div class="tooltip" data-tooltip="Outer diameter &#x2300; [mm]">
                        <input id="own_material_D_outer_dimension" min="0" placeholder="&#x2300; [mm]" type="number">
                    </div>
                    <div class="tooltip" data-tooltip="Inner diameter &#x2300; [mm]">
                        <input id="own_material_d_inner_dimension" min="0" placeholder="&#8960; [mm]" type="number">
                    </div>
                    <div class="tooltip" data-tooltip="Length of tube [mm]">
                        <input id="own_material_length_dimension" min="0" placeholder="L [mm]" type="number">
                    </div>
                </div>
                <div class="rod hide" id="own_material_rod_inputs">
                    <div class="tooltip" data-tooltip="Diameter &#x2300; [mm]">
                        <input id="own_material_d_dimension" min="0" placeholder="&#x2300; [mm]" type="number">
                    </div>
                    <div class="tooltip" data-tooltip="Length of rod [mm]">
                        <input id="own_material_length_rod_dimension" min="0" placeholder="L [mm]" type="number">
                    </div>
                </div>
            </div>
            <span>Or just enter the price of the material:</span>
            <div class="tooltip" data-tooltip="Material price">
                <div  class="own_material_price">
                    <input id="own_material_only_price" placeholder="Net price [PLN]" type="text">
                </div>
            </div>
            <div class="btn_wrapper">
                <button id="own_material_creation_form_popup_create_btn">Create</button>
                <button id="own_material_creation_form_popup_close_btn">Close</button>
            </div>
        </div>
    </div>
    <!--    PROJECT CALCULATION SECTION END-->

    <div class="delete_popup" id="delete_popup">
        <div class="popup_wrapper">
            <img alt="" src="/icons/red_trash.svg">
            <h1>Delete?</h1>
            <h3>Here something is Deleted.</h3>
            <div class="btn_wrapper">
                <button id="delete_popup_cancel_btn">Cancel</button>
                <button id="delete_popup_delete_btn">Delete</button>
            </div>
        </div>
    </div>
    <div class="logout_popup" id="logout_popup">
        <div class="popup_wrapper">
            <img alt="" src="/icons/logout.svg">
            <h1>Log out from Infrastock?</h1>
            <div class="btn_wrapper">
                <button id="logout_btn_confirm">Yes, log out</button>
                <button id="logout_btn_cancel">Cancel</button>
            </div>
        </div>
    </div>
    <!--    POPUP SECTION END-->
</div>
<script src="/js/dashboard.js"></script>
<script src="/js/jQuery.js"></script>
<script src="/js/app.js"></script>
<script src="/js/getMaterialCategories.js"></script>
<script src="/js/getToolCategories.js"></script>
<script src="/js/getMaterials.js"></script>
<script src="/js/getTools.js"></script>
<script src="/js/navigation_btn.js"></script>
<script src="/js/alert.js"></script>
<script src="/js/addNewMaterial.js"></script>
<script src="/js/addNewTool.js"></script>
<script src="/js/addMaterialCategory.js"></script>
<script src="/js/addToolCategory.js"></script>
<script src="/js/printThis.js"></script>
<script src="/js/printTable.js"></script>
<script src="/js/notificationDropdown.js"></script>
<script src="/js/material_info.js"></script>
<script src="/js/projectCalculations.js"></script>
<script src="/js/tool_info.js"></script>
<script src="/js/Material.js"></script>
<script src="/js/Calculation.js"></script>
</body>
</html>
