<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Infrastock</title>
    <script
            crossorigin="anonymous"
            src="https://kit.fontawesome.com/5fae53f1bb.js"
    ></script>

    <link rel="icon" th:href="@{/icons/favicon-32x32.png}" type="image/png"/>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/alert.css}">
</head>
<body>
<div class="wrapper">
    <!--    Alert part start-->
    <div class="alert">
        <span class="fas fa-exclamation-circle" id="alertSign"></span>
        <span class="msg" id="alertMsg">Warning: Incorrect email or password</span>
        <span class="close-btn">
            <span class="fas fa-times" id="alertCloseSign"></span>
        </span>
    </div>
    <!--    Alert part end-->
    <!-- Sign-in part start -->
    <div id="sign_in">
        <form action="/login" method="post">
            <span>INFRASTOCK</span>
            <div class="field">
                <label><i class="fas fa-user"></i></label>
                <input name="email" placeholder="Email" required type="text">
            </div>
            <div class="field">
                <label><i class="fa-solid fa-key"></i></label>
                <input name="password" placeholder="Password" required type="password">
            </div>
            <div class="field">
                <input type="submit" value="Log in">
            </div>
        </form>
        <p>Not a member?
            <button onclick="signUp()"><a>Sign up now</a></button>
            <i class="fa-solid fa-right-to-bracket"></i>
        </p>
    </div>


    <!-- Sign-in part end -->

    <!-- Sign-up part start -->
    <div id="sign_up">
        <form action="/register" method="post">
            <span>Sign Up</span>
            <div class="field">
                <label><i class="fas fa-user"></i></label>
                <input id="username" maxlength="20" minlength="2" name="username" placeholder="Username" required
                       type="text">
            </div>
            <div class="field">
                <label><i class="fa-solid fa-at"></i></label>
                <input id="email" name="email" placeholder="Email Address" required type="email">
            </div>
            <div class="field">
                <label><i class="fas fa-lock"></i></label>
                <input id="password" maxlength="20" minlength="3" name="password" placeholder="Password" required
                       type="password">
            </div>
            <div class="field">
                <label><i class="fa-solid fa-check-double"></i></label>
                <input id="confirm_password" maxlength="20" minlength="3" placeholder="Confirm Password" required
                       type="password">
            </div>
            <div class="field">
                <input type="submit" value="Sign up">
            </div>
        </form>
        <p>Already a member?
            <button onclick="signIn()"><a>Sign in now</a></button>
            <i class="fa-solid fa-right-to-bracket"></i>
        </p>
    </div>
    <!-- Sign-up part end -->
    <img th:src="@{/icons/loginimg.svg}">

</div>


<script th:src="@{/js/login.js}"></script>
<script th:src="@{/js/alert.js}"></script>
<script th:src="@{/js/validation.js}"></script>
<script
        crossorigin="anonymous"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>
